@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --topbar: #3c3c3c !important;
    --main: #1e1e1e !important;
    --secondary: #252525 !important;
    --tertiary: #333333 !important;

    --accent: #ffb000 !important;

    --text: #c6c6c6 !important;
    --text-accent: #939393 !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    height: 100%;
    overflow: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--topbar);
    border-radius: 20px;
    border: 3px solid var(--secondary);
}

body {
    display: flex;
    flex-direction: column;
}

#top_bar {
    background: var(--topbar);
    color: var(--text);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

#slide_name {
    line-height: 12px;
    border: none;
    transition: 200ms;
    padding: 3px;
    margin-top: 6px;
    border-radius: 5px;
    outline: 1px solid var(--secondary);
    background: transparent;
    color: var(--text);
    width: 150px;
    height: 12px;
}

#slide_name:is(:active, :focus) {
    outline: 2px solid var(--text-accent);
}

#aside {
    overflow-x: auto;
    overflow-y: hidden;
}

#aside::-webkit-scrollbar {
    display: none;
}

#data_button_cont {
    width: 485px;
}

.data_button {
    background: var(--main);
    color: var(--text);
    font-family: "Poppins";
    margin-top: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    outline: 1px solid var(--text-accent);
    cursor: pointer;
    transition: 100ms;
}

.data_button:hover {
    filter: brightness(1.15);
}

.data_button:active {
    transform: scale(0.99);
}

#main_content {
    background: var(--main);
    width: 100%;
    height: 100%;
    display: flex;
}

#slides_display {
    background: var(--secondary);
    width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#slides_title {
    background: var(--tertiary);
    color: var(--text-accent);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

#display_list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    height: calc(100vh - 50px - 30px - 30px - 15px);
    padding-bottom: 15px;
}

#add {
    width: 220px;
    text-align: center;
    margin-left: 29px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed var(--text);
    color: var(--text);
    cursor: pointer;
    transition: 200ms;
}

#add:hover {
    background: #ffae0083;
    color: #fff;
}


#slide_configuration {
    background: var(--tertiary);
    color: var(--text-accent);
    height: 50px;
    display: flex;
}

#slide_configuration>* {
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 100ms;
}

#slide_configuration>*:is(:hover) {
    transform: scale(1.15);
}

#remove {
    color: var(--accent);
}

#slide_editing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#slide_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 2px solid var(--tertiary);
    position: relative;
}

#preview_cover {
    position: absolute;
    background: transparent;
    width: calc(100% - 13px);
    height: 100%;
    top: 0;
    left: 0;
    cursor: move;
    z-index: 1;
}

#zoom_editor {
    position: absolute;
    margin-right: 12px;
    background: var(--secondary);
    border: 1px solid var(--text);
    width: 150px;
    height: 40px;
    z-index: 1;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

#zoom_select {
    background: var(--tertiary);
    border: none;
    height: 40px;
    font-family: "Poppins";
    color: var(--text);
    border-radius: 5px;
}

#scale_to_fit {
    border: none;
    outline: none;
    background: transparent;
    height: 40px;
    font-family: "Poppins";
    color: var(--text);
    cursor: pointer;
    transition: 100ms;
}

#scale_to_fit:hover {
    filter: brightness(1.15);
}

#scale_to_fit:active {
    transform: scale(0.99);
}

#file_editing {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 15px);
    background: var(--main);
    z-index: 1;
}

.tab {
    color: var(--text-accent);
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition: 200ms;
}

.tab:hover {
    color: var(--text);
}

.tab.active {
    color: var(--accent);
    border-bottom: 1px var(--text) solid;
}

#tabs {
    margin-left: 20px;
    display: flex;
}

#editor {
    display: flex;
    gap: 10px;
    font-family: monospace;
    line-height: 20px;
    background: var(--main);
    border-radius: 2px;
    margin: 10px;
    width: calc(100vw - 300px - 10px);
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
}

#line_numbers {
    width: 20px;
    padding-right: 5px;
    text-align: right;
    background: var(--main);
    position: sticky;
    left: 0;
    z-index: 1;
}

#line_numbers span {
    height: 20px;
    counter-increment: linenumber;
    background: var(--main);
}

#line_numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
    background: var(--main);
}

#text_editor,
#highlighting {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    min-width: calc(100% - 20px - 10px);
    height: 150px;
    position: absolute;
    top: 0;
    left: 30px;
    overflow: hidden;
    white-space: nowrap;
}

#text_editor,
#highlighting,
#highlighting_content {
    background: transparent;
    font-size: 13px;
    font-family: monospace;
    line-height: 20px;
    text-shadow: none;
    tab-size: 2;
}

#text_editor {
    z-index: 1;
    color: transparent;
    caret-color: white;
}

#highlighting {
    z-index: 0;
}

#text_editor::-webkit-scrollbar {
    display: none;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000079;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    opacity: 0;
    transform: scale(0);
    transition: opacity 250ms;
}

#download {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup_content {
    width: 50%;
    min-width: 500px;
    height: 400px;
    background: var(--main);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#download_assistant {
    height: 50px;
}

#download_assistant>p {
    margin: 0;
}

#download_assistant>p>a {
    color: var(--accent);
}

#download_assistant_button {
    width: 100%;
}

.down_up_textarea {
    background: var(--secondary);
    color: var(--text);
    resize: none;
    border-radius: 10px;
    width: calc(80% - 30px);
    height: 70%;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    transition: 500ms;
    white-space: pre;
    overflow-wrap: normal;
}

.down_up_textarea::-webkit-scrollbar {
    display: none;
}

.export_cont,
.button_cont {
    display: flex;
    gap: 10px;
}

.export_cont {
    height: 100%;
}

.text_cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-items: center;
    font-family: "Poppins";
    color: var(--text);
}

.short {
    margin: 0;
    width: 80%;
    height: 285px;
}

.down_up_button {
    color: var(--text);
    background: var(--tertiary);
    font-family: "Poppins";
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    transition: 100ms;
}

.down_up_button:hover {
    transform: scale(1.02);
}

.down_up_button:active {
    transform: scale(0.98);
}

#auto_play_cont {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#slide_length {
    background: var(--secondary);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 5px;
    width: 75px;
}

.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check_container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    transform: translateY(5px);
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #606062;
    border-radius: 50px;
}

.check_container input:checked~.checkmark {
    background: var(--accent);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check_container input:checked~.checkmark:after {
    display: block;
}

.check_container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#grepper>.popup_content {
    height: 175px;
}

.accented {
    color: var(--accent);
}