.slide_card {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    width: 200px;
    height: 100px;
    background: var(--tertiary);
    border: 1px var(--text) dotted;
    display: flex;
    position: relative;
    transition: 200ms;
}

.slide_card:hover {
    box-shadow: none;
}

.slide_card.active {
    transform: translateX(10px);
    outline: 4px var(--accent) solid;
}

.card_cover {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.left {
    color: var(--text);
    transform: translateX(-30px);
}

.right>iframe {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left top;
    transition: 100ms;
}