@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --topbar: #3c3c3c !important;
    --main: #1e1e1e !important;
    --secondary: #252525 !important;
    --tertiary: #333333 !important;

    --text: #c6c6c6 !important;
    --text-accent: #939393 !important;
}

html {
    width: 500px;
    height: 400px;
}

body {
    margin: 0;
    color: var(--text);
    font-family: "Poppins";
    user-select: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--secondary);
}

.topbar {
    width: 100%;
    height: 25px;
    background: var(--topbar);
    font-size: 15px;
    padding-left: 15px;
    padding-top: 5px;
}

.slide_shows {
    width: 100%;
    height: 100%;
}

.storage_title {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.storage_title::after {
    content: "";
    width: 25%;
    height: 2px;
    background: var(--text);
    display: block;
    margin: auto;
}

.storage_unit {
    background: var(--tertiary);
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-top: 15px;
    box-shadow: #ffffff84 0px 0px 5px;
    border-radius: 10px;
    transition: 250ms;
}

.storage_unit:hover {
    box-shadow: #ffffff84 0px 0px 10px;
}

.unit_title {
    letter-spacing: 2px;
    padding-left: 5px;
    padding-top: 5px;
}

.storage_display {
    background-color: var(--secondary);
    width: calc(100% - 20px);
    height: calc(100% - 25px - 20px);
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 10px;
}

.slide {
    border-radius: 10px;
    border: 2px dashed var(--text);
    width: 160px;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    transition: 200ms;
}

.slide>span {
    z-index: 1;
}

.slide::before {
    content: "";
    background: #ffffff86;
    width: 160;
    height: 90px;
    position: absolute;
    border-radius: 10px;
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 0;
}

.slide:hover::before {
    transform: scale(1);
}

.slide:hover {
    color: var(--secondary);
    font-weight: bold;
}

.footer {
    background: var(--main);
    color: var(--text);
    font-size: 15px;
    height: 40px;
}

.report_issue {
    padding-left: 10px;
    padding-top: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    transition: 200ms;
}

.report_issue::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--text);
    transform: scaleX(0);
    display: block;
    transition: 200ms;
    transform-origin: left;
}

.report_issue:hover {
    filter: brightness(1.15);
}

.report_issue:hover:after {
    transform: scaleX(1);
    filter: brightness(1.15);
}