@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --topbar: #3c3c3c !important;
    --main: #1e1e1e !important;
    --secondary: #252525 !important;
    --tertiary: #333333 !important;

    --text: #c6c6c6 !important;
    --text-accent: #939393 !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    height: 100%;
    overflow: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--topbar);
    border-radius: 20px;
    border: 3px solid var(--secondary);
}

body {
    display: flex;
    flex-direction: column;
}

#top_bar {
    background: var(--topbar);
    color: var(--text);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
}

#main_content {
    background: var(--main);
    width: 100%;
    height: 100%;
    display: flex;
}

#slides_display {
    background: var(--secondary);
    width: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#slides_title {
    background: var(--tertiary);
    color: var(--text-accent);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

#display_list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    height: calc(100vh - 50px - 30px - 30px - 15px);
    padding-bottom: 15px;
}

#slide_configuration {
    background: var(--tertiary);
    color: var(--text-accent);
    height: 50px;
    display: flex;
}

#slide_configuration>* {
    width: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: 100ms;
}

#slide_configuration>*:hover {
    transform: scale(1.15);
}

#remove {
    color: #ff9494;
}

#slide_editing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#slide_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-bottom: 2px solid var(--tertiary);
    position: relative;
}

#preview_cover {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: move;
    z-index: 1;
}

#file_editing {
    display: flex;
    flex-direction: column;
    height: calc(50vh - 15px);
    background: var(--main);
    z-index: 1;
}

.tab {
    color: var(--text-accent);
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition: 200ms;
}

.tab:hover {
    color: var(--text);
}

.tab.active {
    color: var(--text);
    border-bottom: 1px var(--text) solid;
}

#tabs {
    margin-left: 20px;
    display: flex;
}

#editor {
    display: flex;
    gap: 10px;
    font-family: monospace;
    line-height: 20px;
    background: var(--main);
    border-radius: 2px;
    margin: 10px;
    width: calc(100vw - 300px - 10px);
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
}

#line_numbers {
    width: 20px;
    text-align: right;
    background: var(--main);
}

#line_numbers span {
    height: 20px;
    counter-increment: linenumber;
    background: var(--main);
}

#line_numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
    background: var(--main);
}

#text_editor,
#highlighting {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    min-width: calc(100% - 20px - 10px);
    height: 150px;
    position: absolute;
    top: 0;
    left: 30px;
    overflow: hidden;
    white-space: nowrap;
}

#text_editor,
#highlighting,
#highlighting_content {
    background: transparent;
    font-size: 13px;
    font-family: monospace;
    line-height: 20px;
    text-shadow: none;
    tab-size: 2;
}

#text_editor {
    z-index: 1;
    color: transparent;
    caret-color: white;
}

#highlighting {
    z-index: 0;
}

#text_editor::-webkit-scrollbar {
    display: none;
}