.slide_card {
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background: var(--tertiary);
    border: 1px var(--text) dotted;
    display: flex;
    box-shadow: #ffffff33 0px 4px 12px;
    transition: 200ms;
}

.slide_card:hover {
    box-shadow: none;
}

.left {
    color: var(--text);
    width: 35px;
}

.right {
    object-fit: cover;
    width: 150px;
    height: 100%;
}

.right>img {
    object-fit: cover;
    width: 150px;
    height: 100%;
}